@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.eot');
    src: url('Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('Roboto-Regular.woff2') format('woff2'),
        url('Roboto-Regular.woff') format('woff'),
        url('Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans Cyrl 500';
    src: url('MuseoSansCyrl-500.eot');
    src: url('MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'),
        url('MuseoSansCyrl-500.woff2') format('woff2'),
        url('MuseoSansCyrl-500.woff') format('woff'),
        url('MuseoSansCyrl-500.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans Cyrl 500';
    src: url('MuseoSansCyrl-500_1.eot');
    src: url('MuseoSansCyrl-500_1.eot?#iefix') format('embedded-opentype'),
        url('MuseoSansCyrl-500_1.woff2') format('woff2'),
        url('MuseoSansCyrl-500_1.woff') format('woff'),
        url('MuseoSansCyrl-500_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans Cyrl 300';
    src: url('MuseoSansCyrl-300.eot');
    src: url('MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
        url('MuseoSansCyrl-300.woff2') format('woff2'),
        url('MuseoSansCyrl-300.woff') format('woff'),
        url('MuseoSansCyrl-300.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans Cyrl 100';
    src: url('MuseoSansCyrl-100.eot');
    src: url('MuseoSansCyrl-100.eot?#iefix') format('embedded-opentype'),
        url('MuseoSansCyrl-100.woff2') format('woff2'),
        url('MuseoSansCyrl-100.woff') format('woff'),
        url('MuseoSansCyrl-100.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans Cyrl 300';
    src: url('MuseoSansCyrl-300_1.eot');
    src: url('MuseoSansCyrl-300_1.eot?#iefix') format('embedded-opentype'),
        url('MuseoSansCyrl-300_1.woff2') format('woff2'),
        url('MuseoSansCyrl-300_1.woff') format('woff'),
        url('MuseoSansCyrl-300_1.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans Cyrl 700';
    src: url('MuseoSansCyrl-700.eot');
    src: url('MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'),
        url('MuseoSansCyrl-700.woff2') format('woff2'),
        url('MuseoSansCyrl-700.woff') format('woff'),
        url('MuseoSansCyrl-700.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans Cyrl 900';
    src: url('MuseoSansCyrl-900.eot');
    src: url('MuseoSansCyrl-900.eot?#iefix') format('embedded-opentype'),
        url('MuseoSansCyrl-900.woff2') format('woff2'),
        url('MuseoSansCyrl-900.woff') format('woff'),
        url('MuseoSansCyrl-900.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans Cyrl 700';
    src: url('MuseoSansCyrl-700_1.eot');
    src: url('MuseoSansCyrl-700_1.eot?#iefix') format('embedded-opentype'),
        url('MuseoSansCyrl-700_1.woff2') format('woff2'),
        url('MuseoSansCyrl-700_1.woff') format('woff'),
        url('MuseoSansCyrl-700_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans Cyrl 100';
    src: url('MuseoSansCyrl-100_1.eot');
    src: url('MuseoSansCyrl-100_1.eot?#iefix') format('embedded-opentype'),
        url('MuseoSansCyrl-100_1.woff2') format('woff2'),
        url('MuseoSansCyrl-100_1.woff') format('woff'),
        url('MuseoSansCyrl-100_1.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans Cyrl 900';
    src: url('MuseoSansCyrl-900_1.eot');
    src: url('MuseoSansCyrl-900_1.eot?#iefix') format('embedded-opentype'),
        url('MuseoSansCyrl-900_1.woff2') format('woff2'),
        url('MuseoSansCyrl-900_1.woff') format('woff'),
        url('MuseoSansCyrl-900_1.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans Cyrl 300';
    src: url('MuseoSansCyrl-300_2.eot');
    src: url('MuseoSansCyrl-300_2.eot?#iefix') format('embedded-opentype'),
        url('MuseoSansCyrl-300_2.woff2') format('woff2'),
        url('MuseoSansCyrl-300_2.woff') format('woff'),
        url('MuseoSansCyrl-300_2.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans Cyrl 500';
    src: url('MuseoSansCyrl-500_2.eot');
    src: url('MuseoSansCyrl-500_2.eot?#iefix') format('embedded-opentype'),
        url('MuseoSansCyrl-500_2.woff2') format('woff2'),
        url('MuseoSansCyrl-500_2.woff') format('woff'),
        url('MuseoSansCyrl-500_2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans Cyrl 900';
    src: url('MuseoSansCyrl-900_2.eot');
    src: url('MuseoSansCyrl-900_2.eot?#iefix') format('embedded-opentype'),
        url('MuseoSansCyrl-900_2.woff2') format('woff2'),
        url('MuseoSansCyrl-900_2.woff') format('woff'),
        url('MuseoSansCyrl-900_2.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans Cyrl 500';
    src: url('MuseoSansCyrl-500_3.eot');
    src: url('MuseoSansCyrl-500_3.eot?#iefix') format('embedded-opentype'),
        url('MuseoSansCyrl-500_3.woff2') format('woff2'),
        url('MuseoSansCyrl-500_3.woff') format('woff'),
        url('MuseoSansCyrl-500_3.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans Cyrl 100';
    src: url('MuseoSansCyrl-100_2.eot');
    src: url('MuseoSansCyrl-100_2.eot?#iefix') format('embedded-opentype'),
        url('MuseoSansCyrl-100_2.woff2') format('woff2'),
        url('MuseoSansCyrl-100_2.woff') format('woff'),
        url('MuseoSansCyrl-100_2.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans Cyrl 700';
    src: url('MuseoSansCyrl-700_2.eot');
    src: url('MuseoSansCyrl-700_2.eot?#iefix') format('embedded-opentype'),
        url('MuseoSansCyrl-700_2.woff2') format('woff2'),
        url('MuseoSansCyrl-700_2.woff') format('woff'),
        url('MuseoSansCyrl-700_2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular_1.eot');
    src: url('Roboto-Regular_1.eot?#iefix') format('embedded-opentype'),
        url('Roboto-Regular_1.woff2') format('woff2'),
        url('Roboto-Regular_1.woff') format('woff'),
        url('Roboto-Regular_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans Cyrl 900';
    src: url('MuseoSansCyrl-900_3.eot');
    src: url('MuseoSansCyrl-900_3.eot?#iefix') format('embedded-opentype'),
        url('MuseoSansCyrl-900_3.woff2') format('woff2'),
        url('MuseoSansCyrl-900_3.woff') format('woff'),
        url('MuseoSansCyrl-900_3.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular_2.eot');
    src: url('Roboto-Regular_2.eot?#iefix') format('embedded-opentype'),
        url('Roboto-Regular_2.woff2') format('woff2'),
        url('Roboto-Regular_2.woff') format('woff'),
        url('Roboto-Regular_2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular_3.eot');
    src: url('Roboto-Regular_3.eot?#iefix') format('embedded-opentype'),
        url('Roboto-Regular_3.woff2') format('woff2'),
        url('Roboto-Regular_3.woff') format('woff'),
        url('Roboto-Regular_3.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans Cyrl 100';
    src: url('MuseoSansCyrl-100_3.eot');
    src: url('MuseoSansCyrl-100_3.eot?#iefix') format('embedded-opentype'),
        url('MuseoSansCyrl-100_3.woff2') format('woff2'),
        url('MuseoSansCyrl-100_3.woff') format('woff'),
        url('MuseoSansCyrl-100_3.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans Cyrl 300';
    src: url('MuseoSansCyrl-300_3.eot');
    src: url('MuseoSansCyrl-300_3.eot?#iefix') format('embedded-opentype'),
        url('MuseoSansCyrl-300_3.woff2') format('woff2'),
        url('MuseoSansCyrl-300_3.woff') format('woff'),
        url('MuseoSansCyrl-300_3.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans Cyrl 700';
    src: url('MuseoSansCyrl-700_3.eot');
    src: url('MuseoSansCyrl-700_3.eot?#iefix') format('embedded-opentype'),
        url('MuseoSansCyrl-700_3.woff2') format('woff2'),
        url('MuseoSansCyrl-700_3.woff') format('woff'),
        url('MuseoSansCyrl-700_3.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular_4.eot');
    src: url('Roboto-Regular_4.eot?#iefix') format('embedded-opentype'),
        url('Roboto-Regular_4.woff2') format('woff2'),
        url('Roboto-Regular_4.woff') format('woff'),
        url('Roboto-Regular_4.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans Cyrl 300';
    src: url('MuseoSansCyrl-300_4.eot');
    src: url('MuseoSansCyrl-300_4.eot?#iefix') format('embedded-opentype'),
        url('MuseoSansCyrl-300_4.woff2') format('woff2'),
        url('MuseoSansCyrl-300_4.woff') format('woff'),
        url('MuseoSansCyrl-300_4.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans Cyrl 100';
    src: url('MuseoSansCyrl-100_4.eot');
    src: url('MuseoSansCyrl-100_4.eot?#iefix') format('embedded-opentype'),
        url('MuseoSansCyrl-100_4.woff2') format('woff2'),
        url('MuseoSansCyrl-100_4.woff') format('woff'),
        url('MuseoSansCyrl-100_4.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans Cyrl 300';
    src: url('MuseoSansCyrl-300_5.eot');
    src: url('MuseoSansCyrl-300_5.eot?#iefix') format('embedded-opentype'),
        url('MuseoSansCyrl-300_5.woff2') format('woff2'),
        url('MuseoSansCyrl-300_5.woff') format('woff'),
        url('MuseoSansCyrl-300_5.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans Cyrl 100';
    src: url('MuseoSansCyrl-100_5.eot');
    src: url('MuseoSansCyrl-100_5.eot?#iefix') format('embedded-opentype'),
        url('MuseoSansCyrl-100_5.woff2') format('woff2'),
        url('MuseoSansCyrl-100_5.woff') format('woff'),
        url('MuseoSansCyrl-100_5.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans Cyrl 100';
    src: url('MuseoSansCyrl-100_6.eot');
    src: url('MuseoSansCyrl-100_6.eot?#iefix') format('embedded-opentype'),
        url('MuseoSansCyrl-100_6.woff2') format('woff2'),
        url('MuseoSansCyrl-100_6.woff') format('woff'),
        url('MuseoSansCyrl-100_6.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

